<div class="row">
    <div class="col-1 mb-3 mt-3">
        <label for="Name" class="form-label margins">Player name:</label>
    </div>
    <div class="col-2 mb-3 mt-3 margin-leff">
        <input type="text" class="form-control" placeholder="Enter name" [(ngModel)]="playerName" (keyup.enter)="getPlayerDownline()"/>
    </div>
</div>
<button class="btn btn-success margin-leff" (click)="getPlayerDownline()">Get Player Donwline</button>

<br/><br/>

<div class="row">
    <div class="col-4">
        <div [hidden]="isOkHidden" class="alert alert-success margin-leff" role="alert">
            Successful response!
        </div>
        <div [hidden]="isKoHidden" class="alert alert-danger margin-leff" role="alert">
            {{errorMessage}}
        </div>
    </div>
</div>

<div [hidden]="isOkHidden">
    <div class="row margin-leff-col">
        <div class="col-2 fw-bold">Player Donwline: </div>
        <div class="col-10 fw-normal">{{players}}</div>
    </div>
</div>
